body {
  background: url("bg.jpg") center/50%;
}
.App {
  margin: 1em 2em;
  background: #eee;
}

header {
  background: #fbc581;
  padding: 20px 10px 15px 10px;
  text-align: center;
}

header h1 {
  color: #fff;
  font-size:4em;
}
section {
  padding: 1em;
}
#logo {
  width: 60%;
}

@media (max-width: 600px) { 
  #logo {
    width: 90%;
  }
  .App {
    margin: 0;
  }
  header {
    padding: 7px 4px 2px 4px;
  }
}

button {
  background: #eea562;
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 0.5em 0.5em;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #f19e50;
}
button:disabled {
  background: #ccc;
}